:root {
  --primary: #3f3f3f;
  --secondary: #575757;
  --tertiary: #7e7e7e;
  --accent: #f7f7f7;
  --white: #FFFFFF;
}

@font-face {
  font-family: "Sharp";
  src: local("Sharp"),
  url(~assets/fonts/SharpGrotesk.otf) format("opentype");
}

html {
  font-family: "Sharp";
}

.main {
  padding-bottom: 5rem;
}

.main-width {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content-width {
  width: 100%;
  max-width: 1100px;
  margin: 1rem auto;
  padding: 0 1rem;
}


// Transitions

.pagefade-enter-active,
.pagefade-leave-active {
  transition: all ease .3s;
}
.pagefade-enter,
.pagefade-leave-active {
  opacity: 0;
}