:root {
  --primary: #ff6b6c;
  --secondary: #ffc145;
  --tertiary: #008080;
  --accent: #f7f7f7;
  --white: #FFFFFB;
}

.main-width {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content-width {
  width: 100%;
  max-width: 1100px;
  margin: 1rem auto;
  padding: 0 1rem;
}


// Transitions

.pagefade-enter-active,
.pagefade-leave-active {
  transition: all ease .3s;
}
.pagefade-enter,
.pagefade-leave-active {
  opacity: 0;
}